.button
{
    background-color: #fff;
    border: 1px dotted #080;
    padding: 1px 5px 1px 5px;
    cursor: pointer;
    color: #006;
}

#question
{
    font-size: 30;
}

#answer
{
    font-size: 30;
    color: blue;
}

#transferred-exc
{
    font-style: bold;
    color: red;
}
