{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Login" %}
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url index %}">ExponWords</a></span>
&raquo;
<span class="current_menu">{% trans "Login" %}</span>
</p>

{% include "ew/message.html" %}

<form method="post" action=".">
{% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr><td></td>
      <td><input type="submit" value="{% trans 'Login' %}" /></td>
    </tr>
  </table>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
