{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Password reset complete' %}
{% endblock %}

<p>
<span class="current_menu"><a href="{% url 'index' %}">ExponWords</a></span>
&raquo;
<span class="current_menu">{% trans "Password reset" %}</span>
</p>

{% block content %}

<p class="message">{% trans 'Password reset complete' %}</p>

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% url 'login' %}">{% trans 'Log in' %}</a></p>

{% endblock %}
