{% extends "ew/base.html" %}

{% block title %}
ExponWords (Add new word to dictionary "{{ wdict.name }}")
{% endblock %}

{% block content %}

<p>
<a href="../../..">Main page</a>
&raquo;
<a href="..">Dictionary "{{ wdict.name }}"</a>
&raquo;
Add new word to dictionary
</p>

<h1>Add new word to dictionary "{{ wdict.name }}"</h1>

<p>{{ message }}</p>

<form action="./" method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Add word pair" />
</form>
{% endblock %}
