{% extends "ew/base.html" %}
{% load i18n %}
{% load ew_templatetags %}
{% load staticfiles %}

{% block title %}
{% trans "Add new word" %}: "{{ wdict.name }}"
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url 'index' %}">ExponWords</a></span>
&raquo;
<span class="current_menu"><a href="{% url 'wdict' wdict.id %}">{% include "ew/menuitem_dict.html" %}</a></span>
&raquo;
<span class="current_menu">{% trans "Add new word" %}</span>
</p>

{% include "ew/message.html" %}

<p>{{ message|safe }}</p>

<form action="{% url 'add_word_pair' wdict.id %}" method="post">{% csrf_token %}
  <!-- {% trans 'Add word pair' %} - This is needed to get Django to include this string in the translation. -->
  {% with 'add' as edit_type %}
  {% with 'Add word pair' as submit_text %}
    {% include "ew/word_pair.html" %}
  {% endwith %}
  {% endwith %}
</form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" language="JavaScript" src="{% static 'js/jquery.js' %}?{% ew_version %}"></script>
  <script type="text/javascript" language="JavaScript" src="{% static 'js/exponwordslib.js' %}?{% ew_version %}"></script>
  <script type="text/javascript" language="JavaScript" src="{% static 'js/add_word_pair.js' %}?{% ew_version %}"></script>
  <script>$(document).ready(function(){ $("#id_word_in_lang1").focus(); });</script>
{% endblock %}
