{% load ew_templatetags %}
{% load staticfiles %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>ExponWords - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}?{% ew_version %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/touch-icon.png' %}?{% ew_version %}" />
    <link rel=stylesheet href="{% static 'css/exponwords.css' %}?{% ew_version %}" type="text/css">
{% block css %}
{% endblock %}
{% include_if_exists "ew/custom_head.html" %}
  </head>
  <body>
{% block content %}
{% endblock %}
  </body>
{% block javascript %}
{% endblock %}
</html>
