{% load ew_templatetags %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>ExponWords - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/site_media/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/site_media/touch-icon.png" />
    <link rel=stylesheet href="/site_media/exponwords.css" type="text/css">
{% block css %}
{% endblock %}
{% include_if_exists "ew/custom_head.html" %}
  </head>
  <body>
{% block content %}
{% endblock %}
  </body>
{% block javascript %}
{% endblock %}
</html>
