{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Delete dictionary" %}: "{{ wdict.name }}"
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url index %}">ExponWords</a></span>
&raquo;
<span class="current_menu"><a href="{% url wdict wdict.id %}">{% include "ew/menuitem_dict.html" %}</a></span>
&raquo;
<span class="current_menu">{% trans "Delete dictionary" %}</span>
</p>

{% include "ew/message.html" %}

<form action="{% url delete_wdict wdict.id %}" method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Delete' %}" />
</form>
{% endblock %}
