{% extends "ew/base.html" %}

{% block title %}
ExponWords (Edit word pair)
{% endblock %}

{% block content %}

<p>
<a href="../../..">Main page</a>
&raquo;
<a href="../../../dict/{{ wdict.id }}/">Dictionary "{{ wdict.name }}"</a>
&raquo;
<a href="../../../dict/{{ wdict.id }}/view/">View dictionary</a>
&raquo;
Edit word pair
</p>

<h1>Edit word pair</h1>

<p>{{ message }}</p>

<form action="./" method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Save" />
</form>

{% endblock %}
