{% extends "ew/base.html" %}

{% block title %}
ExponWords (Edit word pair)
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="../../..">ExponWords</a></span>
&raquo;
<span class="current_menu"><a href="../../../dict/{{ wdict.id }}/">Dictionary "{{ wdict.name }}"</a></span>
&raquo;
<span class="current_menu"><a href="../../../dict/{{ wdict.id }}/view/">View dictionary</a></span>
&raquo;
<span class="current_menu">Edit word pair</span>
</p>

<p>{{ message }}</p>

<form action="./" method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Save" />
</form>

{% endblock %}
