{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Export dictionary as text" %}: "{{ wdict.name }}"
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url index %}">ExponWords</a></span>
&raquo;
<span class="current_menu"><a href="{% url wdict wdict.id %}">{% include "ew/menuitem_dict.html" %}</a></span>
&raquo;
<span class="current_menu">{% trans "Export dictionary as text" %}</span>
</p>

{% include "ew/message.html" %}

<pre>
{{ text }}
</pre>

{% endblock %}
