{% extends "ew/base.html" %}

{% block title %}
ExponWords (Import word pairs from text to dictionary "{{ wdict.name }}")
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="../../..">ExponWords</a></span>
&raquo;
<span class="current_menu"><a href="..">Dictionary "{{ wdict.name }}"</a></span>
&raquo;
<span class="current_menu">Import word pairs from text</span>
</p>

<p>{{ message }}</p>

<form action="./" method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Import word pairs" />
</form>
{% endblock %}
