{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Main page" %}
{% endblock %}

{% block content %}

<p>
<span class="current_menu">ExponWords</span>
<a class="help" href="{% url help LANGUAGE_CODE %}#main-page">({% trans "Help for this page" %})</a>
</p>

{% if not user.is_authenticated %}
{% trans "You are not logged in." %}
{% else %}
{% trans "Welcome" %}, {{ username }}!
{% endif %}

<ul>

  <!-- Menu items for not logged in users -->
  {% if not user.is_authenticated %}
  <li><a href="{% url login %}" >{% trans "Log in" %}</a></li>
  {% endif %}

  <!-- Menu items for logged in users -->

  {% if user.is_authenticated %}

  <li><a href="{%url logout %}">{% trans "Log out" %}</a></li>

  <!-- Listing dictionaries -->

  <li>
  {% if wdicts %}
  {% trans "Dictionaries" %}:
  <ul>
    {% for d in wdicts %}
    <li>
    <a href="{% url wdict d.id %}">"{{ d.name }}"</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  {% trans "You have no dictionaries." %}
  {% endif %}
  <li><a href="{% url add_wdict %}">{% trans "Create new dictionary" %}</a></li>
  <li><a href="{% url search %}">{% trans "Search" %}</a></li>
  <li><a href="{% url search %}?q=">{% trans "List all words" %}</a></li>
  </li>

  {% endif %}

  <!-- Menu items for everyone -->

  <li><a href="{% url options %}">{% trans "Options" %}</a></li>

  <li><a href="{% url help LANGUAGE_CODE %}">{% trans "Help" %}</a></li>


</ul>
{% endblock %}
