{% extends "ew/base.html" %}

{% block title %}
ExponWords (index)
{% endblock %}

{% block content %}
<h1>ExponWords</h1>

{% if username == None %}
You are not logged in.
{% else %}
Welcome, {{ username }}!
{% endif %}

<ul>

  <!-- Menu items for not logged in users -->

  {% if username == None %}
  <li><a href="login" >Log in</a></li>
  {% endif %}

  <!-- Menu items for logged in users -->

  {% if username != None %}
  <li><a href="logout">Log out</a></li>
  {% endif %}

  <!-- Listing dictionaries -->
  
  <li>
  {% if wdicts %}
  Dictionaries:
  <ul>
    {% for d in wdicts%}
    <li>
      {{ d.name }}:
      <a href="/dict/{{ d.id }}/practice/">Practice</a>,
      <a href="/dict/{{ d.id }}/view/">View</a>,
      <a href="/dict/{{ d.id }}/add-word-pair/">Add new word pair</a>,
      <a href="/dict/{{ d.id }}/add-word-pair-with-tabs/">Add new word pairs (as tab separated values)</a>
    </li>
    {% endfor %}
  {% else %}
  You have no dictionaries.
  {% endif %}
    <li><a href="/create-dict/">Create new dictionary</a></li>
  </ul>
  </li>

  <!-- Menu items for everyone -->

  <li><a href="">Help</a></li>

</ul>
{% endblock %}
