{% extends "ew/base.html" %}
{% load i18n %}
{% load ew_templatetags %}

{% block title %}
{% trans "Modify dictionary" %}
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url index %}">ExponWords</a></span>
&raquo;
<span class="current_menu"><a href="{% url wdict wdict.id %}">{% include "ew/menuitem_dict.html" %}</a></span>
&raquo;
<span class="current_menu">{% trans "Modify dictionary" %}</span>
</p>

{% include "ew/message.html" %}

<form action="{% url modify_wdict wdict.id %}" method="post">{% csrf_token %}
  <table>
    <tr>
      <th>{{ form.name.label_tag }}</th>
      <td>{{ form.name }}</td>
    </tr>
    <tr>
      <th>{{ form.lang1.label_tag }}</th>
      <td>{{ form.lang1 }}</td>
    </tr>
    <tr>
      <th>{{ form.lang2.label_tag }}</th>
      <td>{{ form.lang2 }}</td>
    </tr>
    <tr>
      <th>{{ form.practice_word_order.label_tag }}:</th>
      <td>{{ form.practice_word_order }}
        <a class="help" href="{% url help LANGUAGE_CODE %}#practice-word-order" target="_blank">({% trans "Help about word orders" %})</a>
      </td>
    </tr>

    <tr>
      <th>{{ form.strengthener_method.label_tag }}:</th>
      <td>{{ form.strengthener_method }}
        <a class="help" href="{% url help LANGUAGE_CODE %}#strengteher-method" target="_blank">({% trans "Help about strengthener methods" %})</a>
      </td>
    </tr>

    <tr><td></td>
      <td><input type="submit" value="{% trans 'Save' %}" /></td>
    </tr>
  </table>
</form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" language="JavaScript" src="/site_media/js/jquery.js?{% ew_version %}"></script>
  <script>$(document).ready(function(){ $("#id_name").focus(); });</script>
{% endblock %}
