{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Practice" %}: "{{ wdict.name }}"
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url index %}">ExponWords</a></span>
&raquo;
<span class="current_menu"><a href="{% url wdict wdict.id %}">{% include "ew/menuitem_dict.html" %}</a></span>
&raquo;
<span class="current_menu">{% trans "Practice" %}</span>
<a class="help" href="{% url help LANGUAGE_CODE %}#practice">({% trans "Help for this page" %})</a>
</p>

<p>{{ message }}</p>

    <div>
      <span class="transfer-related">
        <span id="transferred"></span>
        (<span id="transfer-in-progress"></span>)
      </span>/
      <span id="answered"></span>
      (<span id="answered-incorrectly"></span>) /
      <span id="all"></span>
    </div>
    <div id="main">
      <div id="current_word_buttons">
        <a id="edit-word-button">{% trans "Edit current word" %}</a>
        <a id="edit-prev-word-button" class="nonlink">{% trans "Edit previous word" %}</a>
      </div>
      <div id="buttons">
        <span class="button" style="display:none;" id="yes-button">{% trans "YES" %}</span>
        <span class="button" style="display:none;" id="no-button">{% trans "NO" %}</span>
        <span class="button" style="display:none;" id="ok-button">{% trans "ANSWER" %}</span>
      </div>
      <div id="question"></div>
      <div id="answer"></div>
      <div id="explanation"></div>
    </div>

    <!-- Translations -->
    <span style="display:none" id="translation_no_more_words">
    {% trans "No more words for today. Good job! (If you hit Refresh, you will iterate only on the words that you did not know.)" %}
    </span>

{% endblock %}
{% block javascript %}
  <script type="text/javascript" language="JavaScript" src="/site_media/js/jquery.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/json2.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/exponwordslib.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/practice.js"></script>
  <script>{{ js_vars }}</script>
  <script>var csrf_token = "{{ csrf_token }}";</script>
{% endblock %}
