{% extends "ew/base.html" %}
{% load i18n %}
{% load ew_templatetags %}
{% load staticfiles %}

{% block title %}
{% trans "Practice" %}:
{% if wdict != None %}
  "{{ wdict.name }}"
{% else %}
  {% trans 'Custom' %}
{% endif %}
{% endblock %}

{% block content %}

{% if ewuser.practice_arrangement == 'less_scrolling' %}
<div id="buttons">
  <span class="button" style="display:none;font-size:{{ ewuser.button_size }}" id="yes-button">{% trans "YES" %}</span>
  <span class="button" style="display:none;font-size:{{ ewuser.button_size }}" id="no-button">{% trans "NO" %}</span>
  <span class="button" style="display:none;font-size:{{ ewuser.button_size }}" id="ok-button">{% trans "ANSWER" %}</span>
</div>
<div id="question"></div>
<div id="answer"></div>
<div id="explanation" class="explanation"></div>
{% endif %}

<p id="breadcrumb">
<span class="current_menu"><a href="{% url 'index' %}">ExponWords</a></span>
{% if wdict != None %}
&raquo;
<span class="current_menu"><a href="{% url 'wdict' wdict.id %}">{% include "ew/menuitem_dict.html" %}</a></span>
{% endif %}
&raquo;
<span class="current_menu">{% trans "Practice" %}</span>
<a class="help" href="{% url 'help' LANGUAGE_CODE %}#practice" target="_blank">({% trans "Help for this page" %})</a>
</p>

{% include "ew/message.html" %}

<div>
  <span class="transfer-related">
    <span id="transferred"></span>
    (<span id="transfer-in-progress"></span>)
  </span>/
  <span id="answered"></span>
  (<span id="answered-incorrectly"></span>) /
  <span id="all-now"></span>
  <span id="all-today"></span>
  <button type="button" id="show-operations-button" class="nice-button">{% trans 'More' %}</button>
  <div id="operations" class="practice-operations" style="display:none;">
    <p>{% trans "Operations" %}:
    <span id="hide-operations-button" class="nice-button">{% trans 'Hide' %}</span>
    <ul id="operations-list">
      <li><a id="edit-word-button" target="_blank">{% trans "Edit current word" %}</a></li>
      <li><a id="edit-prev-word-button" class="nonlink" target="_blank">{% trans "Edit previous word" %}</a></li>
      <li><a id="fullscreen-on-button" class="buttonlink">{% trans "Full screen" %}</a>
          <a id="fullscreen-off-button" class="buttonlink" style="display:none;">{% trans "Exit full screen" %}</a></li>
      <li id="quick-labels">{% trans "Add label" %}:
      {% for label in quick_labels %}
      <a id="quick-label-{{ label }}" class="small-button">{{ label }}</a>
      {% endfor %}
      </li>
    </ul>
    </p>
  </div>
</div>
<div id="main">
  {% if ewuser.practice_arrangement == 'normal' %}
<div id="buttons">
  <button type="button" class="button" style="display:none;font-size:{{ ewuser.button_size }}" id="yes-button">{% trans "YES" %}</button>
  <button type="button" class="button" style="display:none;font-size:{{ ewuser.button_size }}" id="no-button">{% trans "NO" %}</button>
  <button type="button" class="button" style="display:none;font-size:{{ ewuser.button_size }}" id="ok-button">{% trans "ANSWER" %}</button>
</div>
<div id="question"></div>
<div id="answer"></div>
<div id="explanation" class="explanation"></div>
  {% endif %}
</div>

<div id="final_sentence"></div>

<!-- Translations -->

<div style="display:none">
  <div id="translate_please_wait">
    {% trans "Please wait..." %}
  </div>

  <div id="translate_finished">
    {% trans "You have completed all words for today. Good job!" %}
  </div>

  <div id="translate_all_words_to_practice">
    {% trans "All words to practice" %}
  </div>

  <div id="translate_add_label_start">
    {% trans "Adding label started" %}
  </div>

  <div id="translate_add_label_success">
    {% trans "Adding label successful" %}
  </div>

  <div id="translate_add_label_trying">
    {% trans "Adding label (still trying)" %}
  </div>

  <div id="translate_add_label_gave_up">
    {% trans "Gave up adding label" %}
  </div>
</div>

<style>
#question
{
  font-size:{{ ewuser.question_size }};
}

#answer
{
  font-size:{{ ewuser.answer_size }};
}

#explanation
{
  font-size:{{ ewuser.explanation_size }};
}
</style>

<!-- The user's custom CSS -->
<style>
{{ css|safe }}
</style>

{% endblock %}

<!-- Javascript -->

{% block javascript %}
  <script type="text/javascript" language="JavaScript" src="{% static 'js/jquery.js' %}?{% ew_version %}"></script>
  <script type="text/javascript" language="JavaScript" src="{% static 'js/json2.js' %}?{% ew_version %}"></script>
  <script type="text/javascript" language="JavaScript" src="{% static 'js/exponwordslib.js' %}?{% ew_version %}"></script>
  <script type="text/javascript" language="JavaScript" src="{% static 'js/practice.js' %}?{% ew_version %}"></script>
  <script>
    var csrf_token = "{{ csrf_token }}";
    var EDIT_WORD_PAIR_URL = "{% url 'edit_word_pair' '999' %}";
    var UPDATE_WORD_URL = "{% url 'update_word' %}";
    var ADD_LABEL_URL = "{% url 'add_label' %}";
    var WORDS_TO_PRACTICE_TODAY = {{ words_to_practice|safe }};
    var PGUPDOWN_BEHAVIOR = "{{ ewuser.pgupdown_behavior }}";

    {% if wdict != None %}
        var GET_WORDS_TO_PRACTICE_TODAY_URL =
                "{% url 'get_words_to_practice_today' wdict.id %}";
    {% endif %}
  </script>
{% endblock %}
