{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Search" %}
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url index %}">ExponWords</a></span>
&raquo;
{% if wdict != None %}
<span class="current_menu"><a href="{% url wdict wdict.id %}">{% include "ew/menuitem_dict.html" %}</a></span>
&raquo;
{% endif %}
<span class="current_menu">{% trans "Search" %}</span>
<a class="help" href="{% url help LANGUAGE_CODE %}#search">({% trans "Help for this page" %})</a>
</p>

<form action="{% url search %}" method="get">
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Search' %}" />
</form>

<p class="message">{{ message }}</p>

{% if word_pairs_and_exps != None %}
{% trans "Number of word pairs found" %}: {{ word_pairs_and_exps|length }}
{% endif %}

{% if word_pairs_and_exps %}

<form action="{% url action_on_word_pairs %}" method="post">
  
<!-- hidden fields -->

{% csrf_token %}
<input type="hidden" name="source_url" value="{{source_url}}">
  
<!-- table -->

<table border="1" id="table">
  <tr class="center_cell">
    <td class="tbl_header" colspan="2">{% trans "Words" %}</td>
    <td class="tbl_header">{% trans "Explanation" %}</td>
    <td class="tbl_header" colspan="2">{% trans "Dates" %}</td>
    <td class="tbl_header" colspan="2">{% trans "Strengths" %}</td>
    <td class="tbl_header">{% trans "Labels" %}</td>
    {% if wdict == None %}
    <td class="tbl_header">{% trans "Dictionary" %}</td>
    {% endif %}
    <td class="tbl_header">{% trans "Action" %}</td>
    <td class="tbl_header">{% trans "Selection" %}</td>
  </tr>
  {% for wp, explanation in word_pairs_and_exps %}
  <tr>
    <td>{{ wp.word_in_lang1 }}</td>
    <td>{{ wp.word_in_lang2 }}</td>
    <td class="explanation">{{ explanation|safe }}</td>
    <td>{{ wp.date1 }}</td>
    <td>{{ wp.date2 }}</td>
    <td>{{ wp.strength1 }}</td>
    <td>{{ wp.strength2 }}</td>
    <td>{{ wp.labels }}</td>
    {% if wdict == None %}
    <td><a href="{% url wdict wp.wdict.id %}">{{ wp.wdict.name }}</a></td>
    {% endif %}
    <td><a href="{% url edit_word_pair wp.id %}">{% trans "Edit" %}</a></td>
    <td><input type="checkbox" name="{{ wp.id }}"></input></td>
  </tr>
  {% endfor %}
</table>
<p>
  <span class="small-button" id="select-all-button">{% trans "Select all" %}</span>
</p>

<!-- action --> 

<p>
  <select name="action" id="action-selection"> 
    <option value="none">{% trans 'Please select an action'%}</option> 
    <option value="delete">{% trans 'Delete word pairs'%}</option> 
    <option value="move">{% trans 'Move word pairs'%}</option> 
    <option value="set_dates_strengths">{% trans 'Set dates and strengths'%}</option> 
    <option value="set_labels">{% trans 'Set labels'%}</option> 
    <option value="shift_days">{% trans 'Shift dates'%}</option> 
  </select>
  <a class="help" href="{% url help LANGUAGE_CODE %}#actions">({% trans "Help for actions" %})</a>
  <br/>

  <span style="display:none" id="span-delete">
    <input type="submit" value="{% trans 'Delete the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-move">
    <select name="move_word_pairs_wdict"> 
      {% for wdict_id, wdict_name in wdict_choices %}
      <option value="{{ wdict_id }}">{{ wdict_name }}</option> 
      {% endfor %}
    </select><br/>
    <input type="submit" value="{% trans 'Move the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-set_dates_strengths">
    <table>
      <tr>
        <td>
          {% trans 'Dates of next practices' %}:
        </td>
        <td>
          <input type="text" name="date1" value="">
          <input type="text" name="date2" value="">
        </td>
      </tr>
      <tr>
        <td>
          {% trans 'Strenghs of words' %}:
        </td>
        <td>
          <input type="text" name="strength1" value="">
          <input type="text" name="strength2" value="">
        </td>
      </tr>
    </table>
    <input type="submit" value="{% trans 'Set the dates and strengths of the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-set_labels">
    {% trans 'Labels' %}: <input type="text" name="labels" value=""><br/>
    <input type="submit" value="{% trans 'Set the labels of the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-shift_days">
    {% trans 'Days' %}: <input type="text" name="days" value=""><br/>
    <input type="submit" value="{% trans 'Shift the dates of the selected word pairs!' %}">
  </span>


</p>
</form>

{% endif %} <!-- word_pairs_and_exps -->

  <!-- Translations -->
  <span style="display:none" id="translation-select-none">{% trans "Select none" %}</span>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" language="JavaScript" src="/site_media/js/jquery.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/json2.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/exponwordslib.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/search.js"></script>
  <script>var csrf_token = "{{ csrf_token }}";</script>
{% endblock %}
