{% extends "ew/base.html" %}
{% load i18n %}
{% load ew_templatetags %}

{% block title %}
{% trans "Search and operations" %}
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url index %}">ExponWords</a></span>
&raquo;
{% if wdict != None %}
<span class="current_menu"><a href="{% url wdict wdict.id %}">{% include "ew/menuitem_dict.html" %}</a></span>
&raquo;
{% endif %}
<span class="current_menu">{% trans "Search and operations" %}</span>
<a class="help" href="{% url help LANGUAGE_CODE %}#search" target="_blank">({% trans "Help for this page" %})</a>
</p>

<form action="{% url search %}" method="get">
  <table>
    {{ form.as_table }}
    <tr><td></td>
      <td><input type="submit" value="{% trans 'Search' %}" /></td>
    </tr>
  </table>
</form>

{% include "ew/message.html" %}

{% if result_exists %}
{% trans "Number of word pairs found" %}: {{ hits_count }}
{% endif %}

{% if result_exists %}

<form action="{% url operation_on_word_pairs %}" method="post">
  
<!-- hidden fields -->

{% csrf_token %}
<input type="hidden" name="source_url" value="{{ source_url }}">
  
<!-- table -->

{% if show_hits %}

<p class="pagination">
  <span class="step-links">
    {% if pagination_info.has_previous %}
    <a href="{{ pagination_url }}&page=1">&laquo; {% trans "First page" %}</a>
    <a href="{{ pagination_url }}&page={{ pagination_info.previous_page_number }}">&lsaquo; {% trans "Previous page" %}</a>
    {% endif %}
  </span>
  <span class="current">{{ current_page_index }}</span>
  <span class="step-links">
    {% if pagination_info.has_next %}
    <a href="{{ pagination_url }}&page={{ pagination_info.next_page_number }}">{% trans "Next page" %} &rsaquo;</a>
    <a href="{{ pagination_url }}&page={{ pagination_info.paginator.num_pages }}">{% trans "Last page" %} &raquo;</a>
    {% endif %}
  </span>
</p>

<table border="1" id="hits">
  <tr class="center_cell">
    <td class="tbl_header" colspan="2">{% trans "Words" %}</td>
    <td class="tbl_header">{% trans "Notes" %}</td>
    <td class="tbl_header" colspan="2">{% trans "Dates" %}</td>
    <td class="tbl_header" colspan="2">{% trans "Strengths" %}</td>
    <td class="tbl_header">{% trans "Labels" %}</td>
    {% if wdict == None %}
    <td class="tbl_header">{% trans "Dictionary" %}</td>
    {% endif %}
    <td class="tbl_header">{% trans "Operation" %}</td>
    <td class="tbl_header">{% trans "Selection" %}</td>
  </tr>
  {% for wp, word_in_lang1, word_in_lang2, explanation in word_pairs_and_exps %}
  <tr>
    <td>{{ word_in_lang1|safe }}</td>
    <td>{{ word_in_lang2|safe }}</td>
    <td class="explanation">{{ explanation|safe }}</td>
    <td>{{ wp.date1 }}</td>
    <td>{{ wp.date2 }}</td>
    <td>{{ wp.strength1 }}</td>
    <td>{{ wp.strength2 }}</td>
    <td>{{ wp.labels }}</td>
    {% if wdict == None %}
    <td><a href="{% url wdict wp.wdict.id %}">{{ wp.wdict.name }}</a></td>
    {% endif %}
    <td><a href="{% url edit_word_pair wp.id %}">{% trans "Edit" %}</a></td>
    <td class="checkbox_container">
      <input type="checkbox" name="{{ wp.id }}">
      <!-- <input type="checkbox" name="{{ wp.id }}" onclick="return false;"> -->
      </input>
    </td>
  </tr>
  {% endfor %}
</table>
<p>
  <span class="small-button" id="select-all-button">{% trans "Select all" %}</span>
</p>

{% endif %} <!-- show_hits -->

<!-- operation --> 

<p>
  <select name="operation" id="operation-selection"> 
    <option value="none">{% trans 'Please select an operation'%}</option> 
    <option value="delete">{% trans 'Delete word pairs'%}</option> 
    <option value="move">{% trans 'Move word pairs'%}</option> 
    <option value="set_dates_strengths">{% trans 'Set dates and strengths'%}</option> 
    <option value="add_labels">{% trans 'Add labels'%}</option> 
    <option value="remove_labels">{% trans 'Remove labels'%}</option> 
    <option value="set_labels">{% trans 'Set labels'%}</option> 
    <option value="shift_days">{% trans 'Shift dates'%}</option> 
    <option value="practice">{% trans 'Practice'%}</option> 
    <option value="export">{% trans 'Export word pairs'%}</option> 
  </select>
  <a class="help" href="{% url help LANGUAGE_CODE %}#operations" target="_blank">({% trans "Help for operations" %})</a>
  <br/>

  <span style="display:none" id="span-delete">
    <input type="submit" value="{% trans 'Delete the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-move">
    <select name="move_word_pairs_wdict"> 
      {% for wdict_id, wdict_name in wdict_choices %}
      <option value="{{ wdict_id }}">{{ wdict_name }}</option> 
      {% endfor %}
    </select><br/>
    <input type="submit" value="{% trans 'Move the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-set_dates_strengths">
    <table>
      <tr>
        <td>
          {% trans 'Dates of next practices' %}:
        </td>
        <td>
          <input type="text" name="date1" value="">
          <input type="text" name="date2" value="">
        </td>
      </tr>
      <tr>
        <td>
          {% trans 'Strenghs of words' %}:
        </td>
        <td>
          <input type="text" name="strength1" value="">
          <input type="text" name="strength2" value="">
        </td>
      </tr>
    </table>
    <input type="submit" value="{% trans 'Set the dates and strengths of the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-add_labels">
    {% trans 'Labels' %}: <input type="text" name="add_labels-labels" value=""><br/>
    <input type="submit" value="{% trans 'Add the labels to the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-remove_labels">
    {% trans 'Labels' %}: <input type="text" name="remove_labels-labels" value=""><br/>
    <input type="submit" value="{% trans 'Remove the labels from the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-set_labels">
    {% trans 'Warning: this operation will remove all other labels from the selected words.' %}<br/>
    {% trans 'Labels' %}: <input type="text" name="set_labels-labels" value=""><br/>
    <input type="submit" value="{% trans 'Set the labels of the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-shift_days">
    {% trans 'Days' %}: <input type="text" name="days" value=""><br/>
    <input type="submit" value="{% trans 'Shift the dates of the selected word pairs!' %}">
  </span>

  <span style="display:none" id="span-practice">
    {% trans 'Words to practice' %}
    ({% trans 'only the word that are due today will be strengthened!' %}):
    <select name="practice_scope"> 
      <option value="all">{% trans 'All selected words' %}</option> 
      <option value="due">{% trans 'Only those selected words that are due today' %}</option> 
    </select><br/>
    <input type="submit" value="{% trans 'Go to the practice page!' %}">
  </span>

  <span style="display:none" id="span-export">
    {% trans 'Export format' %}:
    <select name="export_format"> 
      <option value="text">{% trans 'Text' %}</option> 
    </select><br/>
    <input type="submit" value="{% trans 'Export the selected word pairs!' %}">
  </span>

</p>
</form>

{% endif %} <!-- result_exists -->

  <!-- Translations -->
  <span style="display:none" id="translation-select-none">{% trans "Select none" %}</span>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" language="JavaScript" src="/site_media/js/jquery.js?{% ew_version %}"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/json2.js?{% ew_version %}"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/exponwordslib.js?{% ew_version %}"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/search.js?{% ew_version %}"></script>
  <script>var csrf_token = "{{ csrf_token }}";</script>
  <script>$(document).ready(function(){ $("#id_q").focus(); });</script>
{% endblock %}
