{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Settings" %}
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="{% url index %}">ExponWords</a></span>
&raquo;
<span class="current_menu">{% trans "Settings" %}</span>
</p>

{% include "ew/message.html" %}

<p>
{% trans 'Time zone according to the web browser' %}:
<span id='timezone'></span>
</p>

<form action="." method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="{% trans 'Save' %}" />
</form>

{% endblock %}
{% block javascript %}
  <script type="text/javascript" language="JavaScript" src="/site_media/js/jquery.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/settings.js"></script>
{% endblock %}
