{% extends "ew/base.html" %}

{% block title %}
ExponWords (View dictionary: "{{ wdict.name }}")
{% endblock %}

{% block content %}
<h1>View dictionary: "{{ wdict.name }}"</h1>

<table border="1">
  <tr>
    <td class="tbl_header">Word in language 1</td>
    <td class="tbl_header">Word in language 2</td>
    <td class="tbl_header">Explanation</td>
    <td class="tbl_header" colspan="2">Strengths</td>
    <td class="tbl_header" colspan="2">Dates</td>
    <td class="tbl_header">Action</td>
  </tr>
  {% for wp in word_pairs %}
  <tr>
    <td>{{ wp.word_in_lang1 }}</td>
    <td>{{ wp.word_in_lang2 }}</td>
    <td class="explanation">{{ wp.explanation }}</td>
    <td>{{ wp.strength1 }}</td>
    <td>{{ wp.strength2 }}</td>
    <td>{{ wp.date1 }}</td>
    <td>{{ wp.date2 }}</td>
    <td><a href="../../../word-pair/{{ wp.id }}/edit/">Edit</a></td>
  </tr>
  {% endfor %}
</table>

<p><a href="../../..">Go back to main page</a></p>

{% endblock %}
