{% extends "ew/base.html" %}

{% block title %}
ExponWords (Dictionary: "{{ wdict.name }}")
{% endblock %}

{% block content %}
Dictionary: "{{ wdict.name }}"

<table border="1">
  <tr>
    <td class="tbl_header">Word in language 1</td>
    <td class="tbl_header">Word in language 2</td>
    <td class="tbl_header">Explanation</td>
    <td class="tbl_header" colspan="2">Strengths</td>
    <td class="tbl_header" colspan="2">Dates</td>
    <td class="tbl_header">Action</td>
  </tr>
  {% for wp in word_pairs %}
  <tr>
    <td>{{ wp.word_in_lang1 }}</td>
    <td>{{ wp.word_in_lang2 }}</td>
    <td class="explanation">{{ wp.explanation }}</td>
    <td>{{ wp.strength1 }}</td>
    <td>{{ wp.strength2 }}</td>
    <td>{{ wp.date1 }}</td>
    <td>{{ wp.date2 }}</td>
    <td><a href="edit_link">Edit</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
