{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "View dictionary" %}: "{{ wdict.name }}"
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="../../..">ExponWords</a></span>
&raquo;
<span class="current_menu"><a href="..">{% include "ew/menuitem_dict.html" %}</a></span>
&raquo;
<span class="current_menu">{%trans "View dictionary" %}</span>
</p>

{% trans "Number of word pairs" %}: {{ word_pairs_and_exps|length }}

<form action="../delete-word-pairs/" method="post">{% csrf_token %}
<table border="1" id="table">
  <tr>
    <td class="tbl_header">{{ lang_label1 }}</td>
    <td class="tbl_header">{{ lang_label2 }}</td>
    <td class="tbl_header">{% trans "Explanation" %}</td>
    <td class="tbl_header" colspan="2">{% trans "Strengths" %}</td>
    <td class="tbl_header" colspan="2">{% trans "Dates" %}</td>
    <td class="tbl_header">{% trans "Action" %}</td>
    <td class="tbl_header">{% trans "Selection" %}</td>
  </tr>
  {% for wp, explanation in word_pairs_and_exps %}
  <tr>
    <td>{{ wp.word_in_lang1 }}</td>
    <td>{{ wp.word_in_lang2 }}</td>
    <td class="explanation">{{ explanation|safe }}</td>
    <td>{{ wp.strength1 }}</td>
    <td>{{ wp.strength2 }}</td>
    <td>{{ wp.date1 }}</td>
    <td>{{ wp.date2 }}</td>
    <td><a href="../../../word-pair/{{ wp.id }}/edit/">{% trans "Edit" %}</a></td>
    <td><input type="checkbox" name="{{ wp.id }}"></input></td>
  </tr>
  {% endfor %}
</table>
<p>
  <input type="submit" id="delete-button" value="{% trans 'Delete selected words' %}">
  <span class="small-button" id="select-all-button">{% trans "Select all" %}</span>
</p>
</form>

  <!-- Translations -->
  <span style="display:none" id="translation-select-none">{% trans "Select none" %}</span>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" language="JavaScript" src="/site_media/js/jquery.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/json2.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/exponwordslib.js"></script>
  <script type="text/javascript" language="JavaScript" src="/site_media/js/view_wdict.js"></script>
  <script>var csrf_token = "{{ csrf_token }}";</script>
{% endblock %}
