{% extends "ew/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Dictionary" %}: "{{ wdict.name }}"
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}

<p>
<span class="current_menu"><a href="../..">ExponWords</a></span>
&raquo;
<span class="current_menu">{% include "ew/menuitem_dict.html" %}</span>
<a class="help" href="/help/{{ LANGUAGE_CODE }}#dict-page">({% trans "Help for this page" %})</a>
</p>

<ul>
  <li><a href="/dict/{{ wdict.id }}/practice/">{% trans "Practice" %}</a></li>
  <li><a href="/dict/{{ wdict.id }}/view/">{% trans "View" %}</a></li>
  <li><a href="/dict/{{ wdict.id }}/add-word-pair/">{% trans "Add new word pair" %}</a></li>
  <li><a href="/dict/{{ wdict.id }}/import-word-pairs-from-text/">{% trans "Import word pairs from text" %}</a></li>
  <li><a href="/dict/{{ wdict.id }}/export-word-pairs-to-text/">{% trans "Export word pairs to text" %}</a></li>
  <li><a href="/dict/{{ wdict.id }}/import-word-pairs-from-tsv/">{% trans "Import word pairs from tab separated values" %}</a></li>
  <li><a href="/dict/{{ wdict.id }}/delete/">{% trans "Delete" %}</a></li>
</ul>
{% endblock %}
