{% extends "ew/base.html" %}

{% block title %}
ExponWords (Dictionary "{{ wdict.name }}")
{% endblock %}

{% block content %}

<p>
<span class="current_menu"><a href="../..">ExponWords</a></span>
&raquo;
<span class="current_menu">Dictionary "{{ wdict.name }}"</span>
</p>

<ul>
  <li><a href="/dict/{{ wdict.id }}/practice/">Practice</a></li>
  <li><a href="/dict/{{ wdict.id }}/view/">View</a></li>
  <li><a href="/dict/{{ wdict.id }}/add-word-pair/">Add new word pair</a></li>
  <li><a href="/dict/{{ wdict.id }}/import-word-pairs-from-text/">Import word pairs from text</a></li>
  <li><a href="/dict/{{ wdict.id }}/import-word-pairs-from-tsv/">Import word pairs from tab separated values &laquo; TODO &raquo;</a></li>
</ul>
{% endblock %}
