{% load i18n %}
{% load ew_templatetags %}

  {{ form.display_mode }}
  <table>
    <tr>
      <th>{{ form.word_in_lang1.label_tag }}</th>
      <td>{{ form.word_in_lang1 }}</td>
    </tr>
    <tr>
      <th></th>
      <td>{{ word_in_lang1_html|safe }}</td>
    </tr>
    <tr>
      <th>{{ form.word_in_lang2.label_tag }}</th>
      <td>{{ form.word_in_lang2 }}</td>
    </tr>
    <tr>
      <th></th>
      <td>{{ word_in_lang2_html|safe }}</td>
    </tr>
    <tr>
      <th>{{ form.explanation.label_tag }}</th>
      <td>{{ form.explanation }}</td>
    </tr>
    <tr>
      <th></th>
      <td>{{ explanation_html|safe }}</td>
    </tr>
    <tr class="advanced" style="{{ advanced_style }}" >
      <th>{{ form.labels.label_tag }}</th>
      <td>{{ form.labels }}</td>
    </tr>
    <tr class="advanced" style="{{ advanced_style }}" >
      <th>{{ form.date_added.label_tag }}</th>
      <td>{{ form.date_added }}</td>
    </tr>
    <tr class="advanced" style="{{ advanced_style }}" >
      <th>{% trans 'Dates and strengths' %}:</th>
      <td> 
        <div style="background: #cfc;">
        <table>
          <tr>
            <td></td>
            <td>{% trans 'Dates' %}:</td>
            <td>{% trans 'Strengths' %}:</td>
            <td></td>
          </tr>
          <tr>
            <td>{{ lang1 }} &rarr; {{ lang2 }}</td>
            <td>{{ form.date1 }}</td>
            <td>{{ form.strength1 }}</td>
            <td>
              <span id="reset1_button" class="nice-button">
                {% trans 'Reset' %}
              </span>
            </td>
          </tr>
          <tr>
            <td>{{ lang2 }} &rarr; {{ lang1 }}</td>
            <td>{{ form.date2 }}</td>
            <td>{{ form.strength2 }}</td>
            <td>
              <span id="reset2_button" class="nice-button">
                {% trans 'Reset' %}
              </span>
            </td>
          </tr>
        </table>
        </div>
      </td>
    </tr>
    <tr><td></td>
      <td>
        <input type="submit" value="{% trans submit_text %}" />

        {% if edit_type == 'edit' %}
        <input type="submit" id="delete_button_1" name="delete_word_pair" value="{% trans 'Delete word pair' %}" />
        
        <div id="delete_confirm" class="practice-operations" style="display:none;">
          <span id="delete_confirm">{% trans "Are you sure that you want to delete this word pair?" %}</span>
          <input type="submit" id="delete_button_yes" name="delete_word_pair" value="{%trans 'Yes' %}" />
          <input type="submit" id="delete_button_cancel" value="{% trans 'Cancel' %}" />
        </div>
        {% endif %}

        <button id="advanced_button" type="button" class="nice-button" style="{{ simple_style }}">
          {% trans 'Advanced view' %}
        </span>
        <button id="simple_button" type="button" class="nice-button" style="{{ advanced_style }}">
          {% trans 'Simple view' %}
        </span>
      </td>
    </tr>
  </table>

